/* ==================================================
   HOME / INDEX
================================================== */
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  gap: 3rem;
  overflow: hidden;
}

.login {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.login button {
  margin-top: 12px;
  width: 100%;
}

.error {
  color: #dc2626;
  margin-top: 8px;
}

/* ==================================================
   RESPONSIVO
================================================== */
@media (max-width: 768px) {
  .home-box {
    padding: 32px;
  }
}
